bin/
obj/
out/

.idea/
*.sln.iml

*.user
*.userosscache
*.suo
*.sln.docstates

*.nupkg
*.snupkg
*.nuspec
*.psmdcp
packages/
project.lock.json
project.fragment.lock.json

*.DotSettings.user

TestResults/
*.coverage
*.coveragexml
*.trx

*.log

_ReSharper.Caches/
*.tmp
*.bak

.DS_Store
Thumbs.db
desktop.ini